<% if (site.posts.length) { %>
    <div class="widget-wrap widget-list">
        <h3 class="widget-title"><%= __('sidebar.contact') %></h3>
        <div class="widget">
            凄然梦道处，尽是不归路<br>
            QQ: 1801698054@qq.com
        </div>
    </div>
<% } %>
