---
title: 音乐
toc: false
comments: false
date: 2018-06-28 16:04:06
---
<div class="article-meta" style="padding-bottom:10px">
    <div class="article-date">
        <span class="article-date" style="color:#555">
            <i class="fa fa-calendar fa-fw"></i>创建时间:<time datetime="2018-06-28T15:12:06.000Z" itemprop="datePublished">2018-06-28</time>
        </span>
    </div>|
    <span id="busuanzi_container_page_pv">
	<i class="fa fa-book fa-fw"></i>浏览次数:<span id="busuanzi_value_page_pv"></span>次
    </span>
</div>
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">Photos</a>
	<a class="photos-btn active" href="javascript:void(0)"></i>Musics</a>
	<a class="photos-btn" href="/videos">Videos</a>
	<a class="photos-btn" href="/games">Games</a>
</div>
<div id="aplayer" style="margin:20px 0"></div>

<script>
eval(function(d,e,a,c,b,f){b=function(a){return(a<e?"":b(parseInt(a/e)))+(35<(a%=e)?String.fromCharCode(a+29):a.toString(36))};if(!"".replace(/^/,String)){for(;a--;)f[b(a)]=c[a]||b(a);c=[function(a){return f[a]}];b=function(){return"\\w+"};a=1}for(;a--;)c[a]&&(d=d.replace(new RegExp("\\b"+b(a)+"\\b","g"),c[a]));return d}('5 7="B://Z-D.u.v-w.x.y/";5 L="B://q-D.u.v-w.x.y/q.G";5 F="B://q-D.u.v-w.x.y/q.8";$(H).P(J(){5 m=6 t();5 n=6 t();5 o=6 t();$.X(7,J(a){5 b=a.W(\'Q\');K(5 i=0;i<b.C;i++){5 c=b[i].Y;p(c.E("A/")!=-1&&c!="A/"){m.s(c)}r p(c.E("9/")!=-1&&c!="9/"){o.s(c)}r p(c.E("8/")!=-1&&c!="8/"){n.s(c)}}5 d=6 t();K(5 j=0;j<o.C;j++){5 e=6 U();5 a=o[j].V(" ");5 f=a[0].I(4);5 g=a[2].I(0,a[2].C-4);e.R=g;e.S=f;o[j]=T(o[j]);e.7=7+o[j];5 h=o[j].z(".9",".G").z("9","A");p($.M(N(h),m)!=-1){e.O=7+h}r{e.O=L}5 k=o[j].z(/9/g,"8");p($.M(N(k),n)!=-1){e.8=7+k}r{e.8=F}d.s(e)}5 l=6 10({11:H.12(\'13\'),14:3,15:16,17:"18",19:d})})});',
62,72,"     var new url lrc mp3                if default else push Array cos ap beijing myqcloud com replace img https length 1256567675 indexOf defaultLrc_url jpg document substring function for defaultJpg_url inArray decodeURI cover ready Key name artist encodeURI Object split getElementsByTagName get innerHTML musics APlayer container getElementById aplayer lrcType listFolded false listMaxHeight 330px audio".split(" "),0,{}));
</script>
