---
title: 游戏
toc: false
comments: false
date: 2018-06-28 16:04:06
---
<div class="article-meta" style="padding-bottom:10px">
    <div class="article-date">
        <span class="article-date" style="color:#555">
            <i class="fa fa-calendar fa-fw"></i>创建时间:<time datetime="2018-06-28T15:12:06.000Z" itemprop="datePublished">2018-06-28</time>
        </span>
    </div>|
    <span id="busuanzi_container_page_pv">
	<i class="fa fa-book fa-fw"></i>浏览次数:<span id="busuanzi_value_page_pv"></span>次
    </span>
</div>
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">Photos</a>
	<a class="photos-btn" href="/musics">Musics</a>
	<a class="photos-btn" href="/videos">Videos</a>
	<a class="photos-btn active" href="javascript:void(0)">Games</a>
</div>
<style>
.gLi{width:200px;height:220px;float:left;margin:10px;box-shadow:0 0 10px #ccc;border-radius:5px}
li:hover{box-shadow: 0 0 10px #0857be;}
a:hover{color:#0857be!important;}
</style>
<ul style="list-style: none;">
	<li class="gLi">
	   <div>
	       <a href="gameLibs/五子棋/index.html" title="人机五子棋"  target="_blank">
		   <img style="width:200px;height:190px;" src="https://resource-1256567675.cos.ap-beijing.myqcloud.com/wuziqi.png">
	       </a>
	   </div>
	   <div style="text-align:center">
		<a href="gameLibs/五子棋/index.html" style="color:#000;text-decoration: none"><i class="fa fa-gamepad"></i>&nbsp;&nbsp;人机五子棋
		</a>
	   </div>
	</li>
</ul>
<ul style="list-style: none;">
	<li class="gLi">
	   <div>
	       <a href="gameLibs/2048/2048.html" title="2048"  target="_blank">
		   <img style="width:200px;height:190px;" src="https://resource-1256567675.cos.ap-beijing.myqcloud.com/2048.png">
	       </a>
	   </div>
	   <div style="text-align:center">
		<a href="gameLibs/2048/2048.html" style="color:#000;text-decoration: none"><i class="fa fa-gamepad"></i>&nbsp;&nbsp;2048
		</a>
	   </div>
	</li>
</ul>
<ul style="list-style: none;">
	<li class="gLi">
	   <div>
	       <a href="gameLibs/打字高手/盲打高手.html" title="打字高手"  target="_blank">
		   <img style="width:200px;height:190px;" src="https://resource-1256567675.cos.ap-beijing.myqcloud.com/%E6%89%93%E5%AD%97%E9%AB%98%E6%89%8B.png">
	       </a>
	   </div>
	   <div style="text-align:center">
		<a href="gameLibs/打字高手/盲打高手.html" style="color:#000;text-decoration: none"><i class="fa fa-gamepad"></i>&nbsp;&nbsp;打字游戏
		</a>
	   </div>
	</li>
</ul>
<ul style="list-style: none;">
	<li class="gLi">
	   <div>
	       <a href="gameLibs/刀枪不入/index.html" title="刀枪不入"  target="_blank">
		   <img style="width:200px;height:190px;" src="https://resource-1256567675.cos.ap-beijing.myqcloud.com/%E5%88%80%E6%9E%AA%E4%B8%8D%E5%85%A5.png">
	       </a>
	   </div>
	   <div style="text-align:center">
		<a href="gameLibs/刀枪不入/index.html" style="color:#000;text-decoration: none"><i class="fa fa-gamepad"></i>&nbsp;&nbsp;刀枪不入
		</a>
	   </div>
	</li>
</ul>
<ul style="list-style: none;">
	<li class="gLi">
	   <div>
	       <a href="gameLibs/压扁小鸟/index.html" title="压扁小鸟"  target="_blank">
		   <img style="width:200px;height:190px;" src="https://resource-1256567675.cos.ap-beijing.myqcloud.com/%E5%8E%8B%E6%89%81%E5%B0%8F%E9%B8%9F.png">
	       </a>
	   </div>
	   <div style="text-align:center">
		<a href="gameLibs/压扁小鸟/index.html" style="color:#000;text-decoration: none"><i class="fa fa-gamepad"></i>&nbsp;&nbsp;压扁小鸟
		</a>
	   </div>
	</li>
</ul>
<ul style="list-style: none;">
	<li class="gLi">
	   <div>
	       <a href="gameLibs/捕鱼达人/index.html" title="捕鱼达人"  target="_blank">
		   <img style="width:200px;height:190px;" src="https://resource-1256567675.cos.ap-beijing.myqcloud.com/%E6%8D%95%E9%B1%BC%E8%BE%BE%E4%BA%BA.png">
	       </a>
	   </div>
	   <div style="text-align:center">
		<a href="gameLibs/捕鱼达人/index.html" style="color:#000;text-decoration: none"><i class="fa fa-gamepad"></i>&nbsp;&nbsp;捕鱼达人
		</a>
	   </div>
	</li>
</ul>

