<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;"><i class="icon fa fa-angle-up"></i></a>
            <div class="credit">
                <h1 class="logo-wrap">
                    <a href="<%- url_for() %>" class="logo"></a>
                </h1>
                <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
                <p>Maded by <a href="//hexo.io/" target="_blank">Hexo</a>. Thank you for coming!
 <span id="busuanzi_container_site_uv" style="padding-left:233px"><i class="fa fa-bar-chart fa-2x"></i>访客人数 <span id="busuanzi_value_site_uv" style="color:#c9ce15"></span></span>
            </div>
        </div>
    </div>
</footer>