---
title: 相册
toc: false
comments: false
date: 2018-06-28 16:04:06
---
<link rel="stylesheet" href="/js/ins.css">
<div class="article-meta" style="padding-bottom:10px">
    <div class="article-date">
        <span class="article-date" style="color:#555">
            <i class="fa fa-calendar fa-fw"></i>创建时间:<time datetime="2018-06-28T15:12:06.000Z" itemprop="datePublished">2018-06-28</time>
        </span>
    </div>|
    <span id="busuanzi_container_page_pv">
	<i class="fa fa-book fa-fw"></i>浏览次数:<span id="busuanzi_value_page_pv"></span>次
    </span>
</div>
<div class="photos-btn-wrap">
	<a class="photos-btn active" href="javascript:void(0)">Photos</a>
	<a class="photos-btn" href="/musics">Musics</a>
	<a class="photos-btn" href="/videos">Videos</a>
	<a class="photos-btn" href="/games">Games</a>
</div><div class="instagram itemscope">
	<a href="javacript:void(0);" target="_blank" class="open-ins">图片正在加载中…</a>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
	<div class="pswp__ui pswp__ui--hidden">
	    <div class="pswp__top-bar">
		<div class="pswp__counter"></div>
		<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
		<div class="pswp__preloader">
		    <div class="pswp__preloader__icn">
		      <div class="pswp__preloader__cut">
			<div class="pswp__preloader__donut"></div>
		      </div>
		    </div>
		</div>
	    </div>
	    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
		<div class="pswp__share-tooltip"></div> 
	    </div>
	    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
	    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
	    <div class="pswp__caption">
		<div class="pswp__caption__center"></div>
	    </div>
	</div>
    </div>
</div>
<script>
  (function() {
    var loadScript = function(path) {
      var $script = document.createElement('script')
      document.getElementsByTagName('body')[0].appendChild($script)
      $script.setAttribute('src', path)
    }
    setTimeout(function() {
      loadScript('/js/ins.js')
    }, 0)
  })()
</script>